* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
/* ============================================== */
.Sacramento-cursive {
    font-family: 'Sacramento', cursive;
}

.Montserrat-sans-serif {
    font-family: 'Montserrat', sans-serif;
}

.Merriweather-serif {
    font-family: 'Merriweather', serif;
}

.Yellowtail {
    font-family: 'Yellowtail', cursive;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
}
/* ==================================================== */
body {
    height: 8000px;

}
.flex {
    display: flex;
}

.section-1 {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    justify-content: space-between;
}

.section-1 .container .logo {
    color: rgb(255, 255, 255);
    font-size: 2.9rem;
}

.section-1 .container .link {
    color: rgb(255, 255, 255);
    width: 380px;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.section-1 .container .link p{
    transition: all 0.5s ease;
}
.section-1 .container .link p:hover{
    border-bottom: 4px solid white;
}

.section-1 .container .icon {
    width: 100px;

}

.section-1 .container .icon img {
    width: 20px;
    margin-left: 10px;
    margin-top: 19px;
}

.section-2{
    width: 100%;
    height: 900px;
    background-color: black;
}
.section-2 .container{
    width: 80%;
    height: 40%;
    word-spacing: 2px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    font-size: 2rem;
}
.section-3 {
    width: 100%;
    height: 2000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-3 .container {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.section-3 .container .page-name {
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.section-3 .container .page-name .about-us {
    font-size: 1.5rem;
    font-weight: bold;
}

.section-3 .container .page-name .page-number {
    font-size: 1.6rem;
    color: rgba(77, 76, 76, 0.849);
}

.section-3 .container .page-name .page-number .sub-num {
    margin-left: 5px;
}
.section-3 .container .page-content{
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
}
.section-3 .container .page-content .part-1{
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
}
.section-3 .container .page-content .part-1 h1{
    font-size: 3rem;
}
.section-3 .container .page-content .part-1 p{
    margin-top: 60px;
    font-size: 1.3rem;
}
.section-3 .container .page-content .part-2 .button{
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.753);
    z-index: 3;
}
.section-3 .container .page-content .part-2 .button img{
    width: 30px;
}
.section-3 .container .page-content .part-2 .layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
}
.section-3 .container .page-content .part-2 img{
    width: 100%;
}
.section-3 .container .page-content .part-3{
    width: 100%;
    margin-top: 100px;
}
.section-3 .container .page-content .part-3 .columns{
    margin-top: 88px;
    justify-content: space-between;
}
.section-3 .container .page-content .part-3 h4{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
}
.section-3 .container .page-content .part-3 .columns h1{
    line-height: 40px;
}
.section-3 .container .page-content .part-3 .columns .topic-1 p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(87, 87, 87);
}
.section-3 .container .page-content .part-3 .columns .topic-2 p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(87, 87, 87);
}


.section-4 {
    width: 100%;
    height: 2000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-4 .container {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.section-4 .container .page-name {
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.section-4 .container .page-name .about-us {
    font-size: 1.5rem;
    font-weight: bold;
}

.section-4 .container .page-name .page-number {
    font-size: 1.6rem;
    color: rgba(77, 76, 76, 0.849);
}

.section-4 .container .page-name .page-number .sub-num {
    margin-left: 5px;
}
.section-4 .container hr{
    margin-top: 80px;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(197, 197, 197, 0.712);
}
.section-4 .heading{
    font-size: 1.8rem;
    font-weight: bold;
}

.section-4 .container .page-content .part__1{
    width: 100%;
    margin-top: 190px;
    height: 400px;
    background-color: rgb(255, 255, 255);
}
.section-4 .container .page-content .part__1 .left{
    width: 40%;
    height: 100%;
}
.section-4 .container .page-content .part__1 .right{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.333% 33.333% 33.333%;
    
}
/* .section-4 .container .page-content .part__1 .right h3{
    text-align: center;
} */
.section-4 .container .page-content .part__1 .right h2{
    font-size: 1.2rem;
    color: rgb(65, 65, 65);
}

.section-4 .container .page-content .part__1 .right p{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(168, 168, 168);
}
.section-4 .container .page-content .part__1 .right .child{
    right: 0;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

.section-4 .container .page-content .part__2{
    width: 100%;
    margin-top: 90px;
    height: 600px;
    background-color: rgb(255, 255, 255);
}
.section-4 .container .page-content .part__2 .left{
    width: 40%;
    height: 100%;
}
.section-4 .container .page-content .part__2 .right{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 33.333% 33.333% 33.333%;
    grid-template-columns: 33.333% 33.333% 33.333%;
    
}
/* .section-4 .container .page-content .part__1 .right h3{
    text-align: center;
} */
.section-4 .container .page-content .part__2 .right h2{
    font-size: 1.2rem;
    color: rgb(65, 65, 65);
}

.section-4 .container .page-content .part__2 .right p{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(168, 168, 168);
}
.section-4 .container .page-content .part__2 .right .child{
    right: 0;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}


.section-5 {
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-5 .container {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.section-5 .container .page-name {
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.section-5 .container .page-name .team {
    font-size: 1.5rem;
    font-weight: bold;
}

.section-5 .container .page-name .page-number {
    font-size: 1.6rem;
    color: rgba(77, 76, 76, 0.849);
}

.section-5 .container .page-name .page-number .sub-num {
    margin-left: 5px;
}
.section-5 .container .page-content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 23.49% 23.49% 23.49% 23.49%;
    column-gap:2%;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}
.section-5 .container .page-content .box{
    width: 100%;
    height: 239px;
    overflow: hidden;
}
.section-5 .container .page-content .box .layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    top: -100%;
    transition: all 0.5s ease;
}
.section-5 .container .page-content .box:hover .layer{
    top:0%
}
.section-5 .container .page-content .box .layer .box__content{
    color: white;
    width: 80%;
    height: 90%;
}
.section-5 .container .page-content .box .layer .box__content h2{
    margin-bottom: 10px;
    margin-top: 20px;
}
.section-5 .container .page-content .box .layer .box__content h4{
    margin-bottom: 60px;
}
.section-5 .container .page-content .box .layer .box__content p{
    font-weight: bold;
}
.section-5 .container .page-content img{
    width: 100%;
}










.section-9 {
    width: 100%;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-9 .container {
    width: 80%;
    height: 70%;

}

.section-9 .container .part-1 {
    width: 100%;
    height: 27%;
    justify-content: space-between;
}

.section-9 .container .part-1 h2 {
    font-size: 3rem;

}

.section-9 .container .part-1 h4 {
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    margin-bottom: 25px;
}

.section-9 .container .part-1 h5 {
    color: rgb(117, 117, 117);

}

.section-9 .container .part-2 .images {
    margin-top: 100px;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.section-9 .container .part-2 .img img {
    width: 120px;
}

.section-10 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-10 .container {
    width: 80%;
    height: 47%;
}

.section-10 .container .left {
    width: 50%;
    height: 100%;
}

.section-10 .container .left h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.section-10 .container .left .mail {
    margin-top: 40px;
    color: blue;
}

.section-10 .container .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-left: solid 3px rgb(185, 185, 185);
}

.section-10 .container .right .center {
    position: absolute;
    justify-content: space-between;
    width: 70%;
    top: 0;
    right: 0;
}
.section-10 .container .right .center h5{
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(109, 109, 109);
}
.section-10 .container .right .center h4{
    margin-bottom: 10px;
}
.section-10 .container .right .center span{
    margin-left: 5px;
}
.section-11 {
    margin-top: 150px;
    width: 100%;
    height: 100px;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-11 .container .logo {
    color: rgb(0, 0, 0);
    font-size: 2.9rem;
    font-weight: bold;
}

.section-11 .container .link {
    color: rgb(107, 107, 107);
    width: 380px;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.section-11 .container .copyright {
    width: 300px;
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-11 .container .copyright h4{
    position: absolute;
    right: 0;
}

